---
# https://github.com/dgtlmoon/changedetection.io
# https://github.com/dgtlmoon/changedetection.io/blob/master/docker-compose.yml
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app changedetection
spec:
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      changedetection:
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: 0.45.22
            env:
              TZ: Europe/Belgrade
              PORT: &port 5000
              USE_X_SETTINGS: 1
              PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/browserless-cache-123
          browser:
            image:
              repository: docker.io/browserless/chrome
              tag: latest@sha256:57d19e414d9fe4ae9d2ab12ba768c97f38d51246c5b31af55a009205c136012f
              pullPolicy: IfNotPresent
            env:
              - { name: SCREEN_WIDTH, value: "1920" }
              - { name: SCREEN_HEIGHT, value: "1024" }
              - { name: SCREEN_DEPTH, value: "16" }
              - { name: ENABLE_DEBUGGER, value: "false" }
              - { name: PREBOOT_CHROME, value: "true" }
              - { name: CONNECTION_TIMEOUT, value: "300000" }
              - { name: MAX_CONCURRENT_SESSIONS, value: "10" }
              - { name: CHROME_REFRESH_TIME, value: "600000" }
              - { name: DEFAULT_BLOCK_ADS, value: "true" }
              - { name: DEFAULT_STEALTH, value: "true" }
            resources:
              requests:
                cpu: 25m
                memory: 979M
              limits:
                memory: 1G

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host cd.milojevic.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        enabled: true
        existingClaim: changedetection-data
        advancedMounts:
          changedetection:
            app:
              - path: /datastore
