---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis-forgejo
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: ot-operator-standalone
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 5
