---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app network-ups-tools
  namespace: monitoring
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: feature
                    operator: In
                    values:
                      - ups
    controllers:
      network-ups-tools:
        annotations:
          configmap.reloader.stakater.com/reload: &config network-ups-tools-config
        replicas: 1
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/jr0dd/network-ups-tools
              tag: v2.8.3
            env:
              TZ: "Europe/Belgrade"
            securityContext:
              privileged: true

    service:
      app:
        controller: network-ups-tools
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          lbipam.cilium.io/ips: "10.40.0.16"
        ports:
          http:
            port: 3493
            protocol: TCP

    persistence:
      config:
        type: configMap
        name: *config
        globalMounts:
          - path: /etc/nut
            readOnly: true
      usb:
        type: hostPath
        hostPath: /dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_AECJb11A922-if00-port0
        globalMounts:
          - path: /dev/ttyUSB0
