---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wyoming-piper
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      wyoming-piper:
        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.1.1
            args:
              - --voice
              - en_GB-alan-medium
              - --data-dir
              - /data
            env:
              TZ: Europe/Belgrade
    service:
      app:
        controller: *app
        ports:
          whisper:
            enabled: true
            primary: true
            port: 10200
            protocol: TCP
    persistence:
      data:
        enabled: true
        existingClaim: *app
