listen = "[::]:8080"
allowed-hosts = ["attic.nikola.wtf"]
api-endpoint = "https://attic.nikola.wtf/"

[database]
url = "sqlite:///var/lib/attic/server.db?mode=rwc"

[storage]
type = "local"
path = "/var/lib/attic/storage"

[chunking]
nar-size-threshold = 65536
min-size = 16384
avg-size = 65536
max-size = 262144

[compression]
type = "zstd"

[garbage-collection]
interval = "12 hours"
default-retention-period = "6 months"
