#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export OP_SERVICE_ACCOUNT_TOKEN="$(op read --account my.1password.eu "op://homecluster/op service token/token")"
# Talos
export TALOSCONFIG="$(expand_path ./kubernetes/bootstrap/talos/clusterconfig/talosconfig)"
# Minijinja
export MINIJINJA_CONFIG_FILE="$(expand_path ./.minijinja.toml)"

use flake

