---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: homeassistant-secrets
  namespace: home
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: onepassword-connect
    kind: ClusterSecretStore
  target:
    name: homeassistant-secrets
    template:
      engineVersion: v2
      data:
        POSTGRES_DB: home_assistant
        POSTGRES_HOST: postgres-rw.development.svc.cluster.local
        ROBOROCK_TOKEN: "{{ .ROBOROCK_TOKEN }}"
        ROBOROCK_XIAOMI_PASSWORD: "{{ .ROBOROCK_XIAOMI_PASSWORD }}"
        TELEGRAM_API_KEY: "{{ .TELEGRAM_API_KEY }}"
        TELEGRAM_CHAT_ID: "{{ .TELEGRAM_CHAT_ID }}"
        POSTGRES_URL: "{{ .POSTGRES_URL }}"
        POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        POSTGRES_USER: "{{ .POSTGRES_USER }}"
        POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
  dataFrom:
    - extract:
        key: hass
    - extract:
        key: cloudnative-pg
