---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - sabnzbd
              namespaces:
                - media
              topologyKey: kubernetes.io/hostname

    controllers:
      home-assistant:
        annotations:
          configmap.reloader.stakater.com/reload: "hass-config"
          secret.reloader.stakater.com/reload: "homeassistant-secrets"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-host",
                "namespace": "network",
                "ips": ["10.5.0.205/24"],
                "mac": "dc:de:70:dd:f4:9e"
              }]

        replicas: 1

        containers:
          app:
            image:
              repository: quay.io/nklmilojevic/home-assistant
              tag: 2026.2.2@sha256:f47e626572d1a887fa7cc01ceab38fe8ace8e04ebc48124edad517b19c98aedd
            env:
              TZ: "Europe/Belgrade"
            envFrom:
              - secretRef:
                  name: homeassistant-secrets
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: http://localhost:8123
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    service:
      app:
        controller: &app home-assistant
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: &port 8123
          mdns-tcp:
            enabled: true
            port: 5353
            protocol: TCP
            targetPort: 5353
          mdns-udp:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
          code-server:
            port: 12321

    route:
      app:
        hostnames:
          - hass.nikola.wtf
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
      code-server:
        hostnames:
          - hass-code.nikola.wtf
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 12321

    persistence:
      config:
        existingClaim: home-assistant-config
      config-cache:
        existingClaim: "home-assistant-cache"
        globalMounts:
          - path: /config/.venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /config/logs
                subPath: logs
              - path: /config/tts
                subPath: tts
              - path: /tmp
                subPath: tmp

    serviceMonitor:
      home-assistant:
        serviceName: home-assistant
        endpoints:
          - port: http
            scheme: http
            path: /api/prometheus
            interval: 30s
            scrapeTimeout: 10s
            bearerTokenSecret:
              name: homeassistant-secrets
              key: HASS_PROMETHEUS_TOKEN
