---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      home-assistant:
        annotations:
          configmap.reloader.stakater.com/reload: "hass-config"
          secret.reloader.stakater.com/reload: "homeassistant-secrets"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-host",
                "namespace": "network",
                "ips": ["10.5.0.205/24"],
                "mac": "dc:de:70:dd:f4:9e"
              }]

        replicas: 1

        containers:
          app:
            image:
              repository: quay.io/nklmilojevic/home-assistant
              tag: 2025.12.5@sha256:6745d6c9adb222e6c8b55d88ab10ca8d538845c3e058596601bb8eac82a2f92f
            env:
              TZ: "Europe/Belgrade"
            envFrom:
              - secretRef:
                  name: homeassistant-secrets
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: http://localhost:8123
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    service:
      app:
        controller: &app home-assistant
        ports:
          http:
            port: &port 8123
          mdns-tcp:
            enabled: true
            port: 5353
            protocol: TCP
            targetPort: 5353
          mdns-udp:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
          code-server:
            port: 12321

    route:
      app:
        hostnames:
          - hass.nikola.wtf
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
      code-server:
        hostnames:
          - hass-code.nikola.wtf
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 12321

    persistence:
      config:
        existingClaim: home-assistant-config
      config-cache:
        existingClaim: "home-assistant-cache"
        globalMounts:
          - path: /config/.venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /config/logs
                subPath: logs
              - path: /config/tts
                subPath: tts
              - path: /tmp
                subPath: tmp

    serviceMonitor:
      home-assistant:
        serviceName: home-assistant
        endpoints:
          - port: http
            scheme: http
            path: /api/prometheus
            interval: 30s
            scrapeTimeout: 10s
            bearerTokenSecret:
              name: homeassistant-secrets
              key: HASS_PROMETHEUS_TOKEN
