---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: telegram-secrets
  namespace: flux-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: telegram-secrets
    creationPolicy: Owner
  data:
    - secretKey: token
      remoteRef:
        key: telegram
        property: token
