---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smtp-relay
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=http://bjw-s.github.io/helm-charts/
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      smtp-relay:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.7.1
            env:
              DEBUG: "false"
              SMTP_PORT: "587"
            envFrom:
              - secretRef:
                  name: smtp-relay-secrets

    service:
      app:
        controller: smtp-relay
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/loadBalancerIPs: "10.2.0.15"

        ports:
          smtp:
            port: 2525
          metrics:
            enabled: true
            port: 9749

    serviceMonitor:
      app:
        enabled: true
        serviceName: smtp-relay
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    persistence:
      config:
        type: configMap
        name: smtp-relay-configmap
        globalMounts:
          - path: /data/maddy.conf
            subPath: maddy.conf
            readOnly: true
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
