---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: omada-exporter
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: omada-exporter-secret
    template:
      engineVersion: v2
      data:
        OMADA_HOST: "{{ .OMADA_HOST }}"
        OMADA_SITE: "{{ .OMADA_SITE }}"
        OMADA_USER: "{{ .OMADA_USER }}"
        OMADA_PASS: "{{ .OMADA_PASS }}"
  dataFrom:
    - extract:
        key: omada-exporter
