---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAlertmanagerConfig
metadata:
  name: telegram
  namespace: monitoring
spec:
  route:
    receiver: telegram
  receivers:
    - name: "telegram"
      telegram_configs:
        - bot_token:
            key: token
            name: vmalert-telegram-token
          api_url: https://api.telegram.org
          chat_id: 104243855
          parse_mode: ""
