---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: media
spec:
  interval: 5m
  # renovate: registryUrl=http://bjw-s.github.io/helm-charts/
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      qbittorrent:
        replicas: 1

        containers:
          app:
            image:
              repository: quay.io/nklmilojevic/qbittorrent
              tag: 5.1.4@sha256:c8efe67d836c346dec7691f36c66f980b3345f23a25f62c2e1d7e7756efd6467

            env:
              TZ: "Europe/Belgrade"
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: qbittorrent
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.40.0.9"
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: &port 8080
          bittorrent-tcp:
            port: 50413
            protocol: TCP
            targetPort: 50413

    route:
      app:
        hostnames:
          - qbittorrent.nikola.wtf
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: qbittorrent
                port: *port

    persistence:
      config:
        existingClaim: qbittorrent-config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "10.5.0.10"
            path: "/var/nfs/shared/media"
        globalMounts:
          - path: "/media"
