---
machine:
  type: controlplane
  install:
    diskSelector:
      serial: 50026B7686429B50
  network:
    hostname: icarus002
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 6c:1f:f7:08:ef:71
              driver: r8152
        vip:
          ip: 10.40.0.3
        vlans:
          - vlanId: 1
            mtu: 1500
            dhcp: false
            addresses:
              - 10.5.0.202/24
          - vlanId: 50
            mtu: 1500
            dhcp: false
            addresses:
              - 10.50.0.202/24
