---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
  namespace: media
spec:
  interval: 5m
  # renovate: registryUrl=http://bjw-s.github.io/helm-charts/
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      calibre-web-automated:
        replicas: 1

        containers:
          app:
            image:
              repository: docker.io/crocodilestick/calibre-web-automated
              tag: V3.0.3@sha256:4e1a78ef73dd0a7d5542c660dad75f084251b4dd3d33f66791d8751838e9f6dd
            env:
              TZ: "Europe/Belgrade"
              PUID: 1000
              PGID: 1000

            # securityContext:
            #   allowPrivilegeEscalation: false
            #   capabilities:
            #     drop:
            #       - ALL
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 1000
            runAsNonRoot: false
            fsGroup: 0
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: calibre-web-automated
        ports:
          http:
            port: &port 8083

    route:
      app:
        hostnames:
          - cwa.${SECRET_DOMAIN}
        parentRefs:
          - name: ${GATEWAY_INTERNAL}
            namespace: ${GATEWAY_NAMESPACE}
            sectionName: ${GATEWAY_SECTION}
        rules:
          - backendRefs:
              - name: calibre-web-automated
                port: *port

    persistence:
      config:
        existingClaim: calibre-web-automated-config
      calibre-library:
        existingClaim: calibre-web-automated-library
      cwa-book-ingest:
        type: nfs
        server: 10.5.0.10
        path: /var/nfs/shared/cwa
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /cwa-book-ingest
