apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization
namespace: home
resources:
  - ./config-pvc.yaml
  - ./helm-release.yaml
commonLabels:
  app.kubernetes.io/name: mosquitto
  app.kubernetes.io/instance: mosquitto
configMapGenerator:
  - name: mosquitto-config
    files:
      - config/mosquitto.conf
generatorOptions:
  disableNameSuffixHash: true
