---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: invoicing
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      invoicing:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          imagePullSecrets:
            - name: ghcr-credentials
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/nklmilojevic/invoicing
              tag: latest
            env:
              TZ: "Europe/Belgrade"
              DATABASE_URL: "file:/app/data/invoicing.db"
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: invoicing
        ports:
          http:
            port: &port 3000

    route:
      app:
        hostnames:
          - &hostName invoicing.nikola.wtf
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: invoicing
                port: *port

    persistence:
      data:
        existingClaim: invoicing
        advancedMounts:
          invoicing:
            app:
              - path: /app/data
