# Loads default set of integrations. Do not remove.
default_config:

ffmpeg:

prometheus:
  namespace: hass

stream:
  ll_hls: true
  part_duration: 0.75
  segment_duration: 6

recorder:
  purge_keep_days: 5
  db_url: !env_var POSTGRES_URL

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.0.0.0/8
    - 127.0.0.1
    - ::1

rest:
  # Klimerko
  - resource: https://api.allthingstalk.io/device/MzceoBK2IQPDcMqUGRnDVUcQ
    method: GET
    headers:
      Authorization: !env_var MAKER_API_TOKEN
      Content-Type: application/json
    scan_interval: 60
    sensor:
      # PM1 sensor
      - name: Klimerko PM1
        unique_id: klimerko_pm1
        device_class: pm1
        unit_of_measurement: "µg/m³"
        icon: mdi:molecule
        json_attributes_path: "$.assets[?(@.name=='pm1')].state"
        json_attributes:
          - at
        value_template: |
          {% set sensor = value_json.assets | selectattr("name", "eq", "pm1") | first | default %}
          {{- sensor.state.value }}
      # PM2.5 sensor
      - name: Klimerko PM2.5
        unique_id: klimerko_pm2_5
        device_class: pm25
        unit_of_measurement: "µg/m³"
        icon: mdi:molecule
        json_attributes_path: "$.assets[?(@.name=='pm2-5')].state"
        json_attributes:
          - at
        value_template: |
          {% set sensor = value_json.assets | selectattr("name", "eq", "pm2-5") | first | default %}
          {{- sensor.state.value }}
      # PM10 sensor
      - name: Klimerko PM10
        unique_id: klimerko_pm10
        device_class: pm10
        unit_of_measurement: "µg/m³"
        icon: mdi:molecule
        json_attributes_path: "$.assets[?(@.name=='pm10')].state"
        json_attributes:
          - at
        value_template: |
          {% set sensor = value_json.assets | selectattr("name", "eq", "pm10") | first | default %}
          {{- sensor.state.value }}
      # Temperature sensor
      - name: Klimerko Temperature
        unique_id: klimerko_temperature
        device_class: temperature
        unit_of_measurement: "°C"
        icon: mdi:thermometer
        json_attributes_path: "$.assets[?(@.name=='temperature')].state"
        json_attributes:
          - at
        value_template: |
          {% set sensor = value_json.assets | selectattr("name", "eq", "temperature") | first | default %}
          {{- sensor.state.value }}
      # Humidity sensor
      - name: Klimerko Humidity
        unique_id: klimerko_humidity
        device_class: humidity
        unit_of_measurement: "%"
        icon: mdi:water-percent
        json_attributes_path: "$.assets[?(@.name=='humidity')].state"
        json_attributes:
          - at
        value_template: |
          {% set sensor = value_json.assets | selectattr("name", "eq", "humidity") | first | default %}
          {{- sensor.state.value }}
      # Atmospheric Pressure sensor
      - name: Klimerko Atmospheric Pressure
        unique_id: klimerko_atmospheric_pressure
        device_class: atmospheric_pressure
        unit_of_measurement: "mbar"
        icon: mdi:gauge
        json_attributes_path: "$.assets[?(@.name=='pressure')].state"
        json_attributes:
          - at
        value_template: |
          {% set sensor = value_json.assets | selectattr("name", "eq", "pressure") | first | default %}
          {{- sensor.state.value }}

camera:
  - platform: xiaomi_cloud_map_extractor
    host: 10.3.0.2
    token: !env_var ROBOROCK_TOKEN
    username: nikola@milojevic.me
    password: !env_var ROBOROCK_XIAOMI_PASSWORD
    draw: ["all"]
    attributes:
      - calibration_points
    map_transformation:
      scale: 1
      trim:
        top: 17
        bottom: 20
        left: 25
        right: 20

climate:
  - platform: gree
    name: Bedroom
    host: 10.3.0.14
    port: 7000
    mac: "F4:91:1E:8B:81:29"
    target_temp_step: 1

telegram_bot:
  - platform: polling
    api_key: !env_var TELEGRAM_API_KEY
    allowed_chat_ids:
      - !env_var TELEGRAM_CHAT_ID

notify:
  - platform: telegram
    name: telegram
    chat_id: !env_var TELEGRAM_CHAT_ID
  - name: ntfy_general_message
    platform: apprise
    url: !env_var NTFY_GEN
  - name: ntfy_sos_message
    platform: apprise
    url: !env_var NTFY_SOS

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
