---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: z2mqtt
  namespace: home
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      z2mqtt:
        replicas: 1
        containers:
          app:
            image:
              repository: koenkk/zigbee2mqtt
              tag: 2.4.0
              pullPolicy: IfNotPresent
            env:
              ZIGBEE2MQTT_DATA: "/data"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: "ISO_8601"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: "info"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
              ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: "false"
              ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: "zigbee2mqtt"
              ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: "true"
              ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: "true"
              ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "tcp://10.5.0.50:6638"
              ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: "115200"
              ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: "ember"
              ZIGBEE2MQTT_CONFIG_SERIAL_RTSCTS: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_TRANSMIT_POWER: "20"
              ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://vernemq-app.home.svc.cluster.local:1883"
              ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
              ZIGBEE2MQTT_CONFIG_MQTT_USER:
                valueFrom:
                  secretKeyRef:
                    name: z2mqtt-secret
                    key: VERNEMQ_USERNAME
              ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: z2mqtt-secret
                    key: VERNEMQ_PASSWORD
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
                add: ["NET_BIND_SERVICE"]

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: z2mqtt
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - zigbee2mqtt.nikola.wtf
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: z2mqtt
                port: *port

    persistence:
      data:
        existingClaim: z2mqtt-config
