---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  GATEWAY_INTERNAL: internal
  GATEWAY_EXTERNAL: external
  GATEWAY_NAMESPACE: kube-system
  GATEWAY_SECTION: https
  SECRET_DOMAIN: nikola.wtf
