---
apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  annotations:
    metallb.universe.tf/loadBalancerIPs: 10.2.0.21
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: postgres16
    role: primary
