---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: isponsorblocktv
  namespace: flux-system
spec:
  targetNamespace: networking
  path: ./kubernetes/apps/networking/isponsorblocktv/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 3m
