---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 30m
  chart:
    spec:
      chart: multus
      version: 5.0.7
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.2.3-thick@sha256:e93af9e533cc16ca7847aeec3b516c9b1e8891c2b95c727991e94c9b59c4970e
    cni:
      image:
        repository: ghcr.io/angelnu/cni-plugins
        tag: 1.8.0@sha256:8eee45a70f69219af34f32d71814d65828544c86a19d47b74c71eb6e1d751d30
      logLevel: error
      paths:
        bin: /opt/cni/bin
        config: /etc/cni/net.d
    resources:
      requests:
        cpu: 10m
      limits:
        memory: 1024Mi
    hostPaths:
      netns: /var/run/netns
