---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: octoeverywhere-bambu-connect
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      octoeverywhere-bambu-connect:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          octoeverywhere-bambu-connect:
            image:
              repository: docker.io/octoeverywhere/octoeverywhere
              tag: 4.4.0@sha256:ac8f41f7497b8ff2a1288ecee02c3a99c077ce20ffaf04ece5cb7f40506915ac
            env:
              COMPANION_MODE: bambu
              CONNECTION_MODE: local
              LAN_ONLY_MODE: "true"
              TZ: Europe/Belgrade
            envFrom:
              - secretRef:
                  name: octoeverywhere-bambu-connect
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      data:
        existingClaim: ${APP}
