---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: attic
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    controllers:
      attic:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/zhaofengli/attic
              tag: latest
            args:
              - -f
              - /config/server.toml
            env:
              ATTIC_SERVER_TOKEN_HS256_SECRET_BASE64:
                valueFrom:
                  secretKeyRef:
                    name: attic-secret
                    key: ATTIC_SERVER_TOKEN_HS256_SECRET_BASE64
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: attic
        ports:
          http:
            port: 8080

    route:
      app:
        hostnames:
          - attic.nikola.wtf
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: attic
                port: 8080

    persistence:
      config:
        type: configMap
        name: attic-configmap
        globalMounts:
          - path: /config/server.toml
            subPath: server.toml
            readOnly: true
      data:
        existingClaim: attic-data
        globalMounts:
          - path: /var/lib/attic
